<h2>Hey, <%=@user.username%>!</h2>

<h3>Your Birthday Reminders:</h3>

<%if @user.birthdays.empty?%>
<%='You have no birthdays this week.'%>
<%else%>
<%@user.birthdays.each do |birthday|%>
<%=birthday.date%>: <a href='/birthdays/<%=birthday.id%>'><%=birthday.name%></a><br>
<%end%>
<%end%>
<br>

<a class="button" href="birthdays/new">Add a New Birthday</a>



