<h2><%=@birthday.date%>: <%=@birthday.name%></h2>

<form method='post' action='/birthdays/<%= @birthday.id %>/delete'>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type='submit' value='Delete Birthday'></input>
</form><br>

<form method='post' action='/birthdays/<%= @birthday.id %>'>
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type='text' name="birthday[name]" placeholder="<%= @birthday.name %>"></input>
  <input type='text' name="birthday[date]" placeholder="<%= @birthday.date %>"></input>
  <input type='submit' value='Edit Birthday'></input>
</form>