<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2><%=@birthday.date%>: <%=@birthday.name%></h2>

<a class="button" href="<%=@birthday.id%>/edit">Edit Birthday</a><br>


<form method='post' action='/birthdays/<%= @birthday.id %>/delete'>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type='submit' value='Delete Birthday'></input>
</form>